@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

body {
    background-image: url(./assets/background.jpeg);
    background-color: black;
    background-repeat: no-repeat;
    opacity: 1;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: white;
    background-color: black;
}

h1.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    color: white;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-style: italic;
    color: beige;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: white;
    background-color: black;
}

.logo {
    height: 50px;
    height: 50px;
}

.concept {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

span {
    color: black;
    background-color: white;
}
